<div class="container-fluid">
  <div class="row">
    <div  class="col-md-2 card m-1 p-0" *ngFor="let cluster of getCluster()">
      <h5 class="card-header text-center">
        <i class="fas fa-server"></i> {{cluster.name}}
      </h5>
      <div class="card-body">
        <div class="card-title">Hosted on {{cluster.type}}</div>
        <div class="card-text">installed with RKE</div>
      </div>
      <ul class="list-group list-group-flush">
          <li class="list-group-item"><span class="row"><span class="col-md-8">Master:</span> <span class="col-md-4">1</span></span></li>
          <li class="list-group-item"><span class="row"><span class="col-md-8">ETCD:</span> <span class="col-md-4">1</span></span></li>
          <li class="list-group-item"><span class="row"><span class="col-md-8">Node:</span> <span class="col-md-4">1</span></span></li>
        </ul>
      <div class="card-footer">
        <a class="card-link btn btn-block btn-primary" [routerLink]="['/cluster/detail',cluster.name]">Details</a>
      </div>
    </div>
  </div>
</div>
